.venv/
venv/
env/
ENV/
.ipynb_checkpoints/
data/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec
*.nbconvert.ipynb
*.out
*.log
# === Local config and data files ===
config.json

# Ignore large or personal data files
*.csv
*.zip
*.parquet
*.xlsx
*.pkl
*.json
*.h5
*.feather
# To consider the config.json file on GitHub
!config.example.json
