.venv/
venv/
env/
ENV/
.ipynb_checkpoints/
data/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec
*.nbconvert.ipynb
*.out
*.log
